extends layout

block content
    div.text-center.backcolor.text.font
        br
        img(src='/images/janvi.jpg' width='15%' height='250')
        br
        h1 Janvi Sutariya
        h5 &quot;Work Untill You Don't Have To Introduce Yourself&quot;
        br
    div
    div.backcolor.text
        h3 About Me 
        ul 
            li I am currently pursing Software Enginerring Technology(Fast track) program in centennial college.
            li I have completed my bechelor in Computer Science from Shree Swami Atmanand Sarswati Institute of Technology.
            li I have keen interest in programming and testing.
            li I am very quick learner, enthusiastic and hard working.
            li For downloading Resume Click Below
            a.button(href='/images/resume.pdf' role='button') Resume
    div
