extends layout

block content
  div.text-center
    img(src="/images/home.jpg" class="img-fluid"  alt="Responsive image")
    div.container
    block content
      .centered
        h1 Welcome to Janvi Sutariya's Eportfolio 
        h3 I am currently Computer Science Student.
        a.button(href='/about' role='button') About Me

    
