extends layout

block content
  div.text-center
    //Author: Janvi Sutariya
    //Student Id: 301171524
    br
    br
    h1 Welcome to Project Page 
    br
    br
    //Designed project images and data using card
    .card-group
        .card
            img.card-img-top(src='/images/epilepsy.jpg' height= '250' width='25%' alt='')
            .card-body
                h5.card-title Epilepsy Seizure Detection System
                p.card-text
                    |   Epilepsy Seizure Detection System which is able to detect the epileptic seizure using Electroencephalogram signal. This is group base project.
     
        .card
            img.card-img-top(src='/images/smartbin.jpg' height= '250' width='25%' alt='')
            .card-body
                h5.card-title SmartBin Monitoring System
                p.card-text 
                    |   Smart Bin Monitoring System which detect the level of garbage in Dustbin. And notify the garbage collector by SMS. This is group project.
     
        .card
            img.card-img-top(src='/images/onlineshopping.jpg' height= '250' width='25%' alt='')
            .card-body
                h5.card-title  Online Shopping System
                p.card-text
                    | I made online shopping website, in which we can search the products, wishlist the products and buy the products.
     
    br 
    br
    br
    br
