extends layout

block content
  div.text-center
    //Author: Janvi Sutariya
    //Student Id: 301171524
    br
    br
    h1 Welcome to Service Page 
    br
    br
    //designed service images using card
    .card-group
        .card
            img.card-img-top(src='/images/android.jpg' height= '250' width='25%' alt='')
            .card-body
                h5.card-title Application Developer
                p.card-text
                    |   I can make GUI based Android Application, which is user friendly and attractive.
     
        
        .card
            img.card-img-top(src='/images/java.jpg' height= '250' width='25%' alt='')
            .card-body
                h5.card-title  Java Developer
                p.card-text
                    |   I can make application using java framework, which is user friendly.
    br 
    br
    br
    br
